.Hero__Container {
  background: linear-gradient(45deg, purple, pink);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Hero__Image {
  max-width: 30%;
  border-radius: 6.5rem;
}
.Row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10% 0%;
}
