.Logo {
  max-width: 15%;
}
.Header__Container {
  background-color: rgb(72 0 119 / 50%);
  padding: 0.5%;
  align-items: center;
  /* background-color: #9c4fc4; */
  backdrop-filter: blur(22px);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}
